:root {
    margin-top: 44px;
    margin-left: 80px;
    margin-right: 80px;
    
    font-family: "Open Sans", sans-serif;
    background-color: #F5F4F0;
    border: #D9D9D9;
    text-decoration-color: #1B1B1B;

    align-items: center;

}

img  {
    display: block;
    border-radius: 28px;
    width: 1120px;
    height: 660px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.container {
    width: 1120px;
    height: 729px;
    gap: 40px;
    margin-top: 88px;
    margin-bottom: 40px;
    align-items: center;
    margin-right: 80px;
}
header {
    margin-top: 88px;
    align-items: center;
    
    
}
body {
    align-items: center;
    margin-top: 64px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 88px;
    font-size: 16px;
    font-weight: bold;
    
}

.description {
    margin-bottom: 40px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}
h2 {
    font-size: 32px;
    font-weight: bold;
}
h3 {
    font-size: 28px;
    font-weight: bold;
}

p {
    font-size: 16px;
    font-weight:normal;
    align-items: top;
}

#italico {
        font-style: italic;
        color: #696969;
        text-align: center;
}
#headline {
    color: #E1624F;
    font-weight: bold;
}
#content {
    margin-top: 64px;
}
#fortedosreismagos {
    align-items: center;
}
footer {
    margin-top: 80px;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    color: #333333;
}
section + section {
    margin-top: 48px;
}

li::marker {
    font-size: 28px;
    font-weight: bold;
}
#creditos {
    text-align: center;
}
.divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
  }
  footer p {
    text-align: center;
  }

#familia {
    color: #0C51A7;
}
#Casais {
    color: #E5245E;
}
#História {
    color: #591B98;
}
ol {
}